[submodule ".vim/bundle/flake8-vim.git"]
	path = .vim/bundle/flake8-vim.git
	url = https://github.com/andviro/flake8-vim.git
[submodule ".vim/bundle/vim-colors-solarized.git"]
	path = .vim/bundle/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/nerdtree.git"]
	path = .vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ctrlp.vim.git"]
	path = .vim/bundle/ctrlp.vim.git
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-fugitive.git"]
	path = .vim/bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
