[submodule ".vim/bundle/flake8-vim.git"]
	path = .vim/bundle/flake8-vim.git
	url = https://github.com/andviro/flake8-vim.git
[submodule ".vim/bundle/nerdtree.git"]
	path = .vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ctrlp.vim.git"]
	path = .vim/bundle/ctrlp.vim.git
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-fugitive.git"]
	path = .vim/bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-colorscheme-solarized.git"]
	path = .vim/bundle/vim-colorscheme-solarized.git
	url = https://github.com/johann2357/vim-colors-solarized
[submodule ".vim/bundle/Pychimp-vim.git"]
	path = .vim/bundle/Pychimp-vim.git
	url = https://github.com/johann2357/Pychimp-vim.git
[submodule ".vim/bundle/vim-sol.git"]
	path = .vim/bundle/vim-sol.git
	url = https://github.com/johann2357/vim-sol.git
[submodule ".vim/bundle/vim-luna.git"]
	path = .vim/bundle/vim-luna.git
	url = https://github.com/johann2357/vim-luna.git
[submodule ".vim/bundle/vim-lucius.git"]
	path = .vim/bundle/vim-lucius.git
	url = https://github.com/jonathanfilip/vim-lucius
[submodule ".vim/bundle/badwolf.git"]
	path = .vim/bundle/badwolf.git
	url = https://github.com/sjl/badwolf/
[submodule ".vim/bundle/wombat256.git"]
	path = .vim/bundle/wombat256.git
	url = https://github.com/johann2357/wombat256.vim
[submodule ".vim/bundle/wombat.git"]
	path = .vim/bundle/wombat.git
	url = https://github.com/vim-scripts/Wombat
[submodule ".vim/bundle/monokai.git"]
	path = .vim/bundle/monokai.git
	url = https://github.com/johann2357/vim-monokai
[submodule ".vim/bundle/vim-kolor.git"]
	path = .vim/bundle/vim-kolor.git
	url = https://github.com/zeis/vim-kolor
[submodule ".vim/bundle/molokai.git"]
	path = .vim/bundle/molokai.git
	url = https://github.com/tomasr/molokai
[submodule ".vim/bundle/vim-less.git"]
	path = .vim/bundle/vim-less.git
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-virtualenv.git"]
	path = .vim/bundle/vim-virtualenv.git
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule ".vim/bundle/vim-powerline.git"]
	path = .vim/bundle/vim-powerline.git
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/jevi-vim.git"]
	path = .vim/bundle/jevi-vim.git
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/vim-better-whitespace.git"]
	path = .vim/bundle/vim-better-whitespace.git
	url = git://github.com/ntpeters/vim-better-whitespace.git
[submodule ".vim/bundle/vim-flake8.git"]
	path = .vim/bundle/vim-flake8.git
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/vimify"]
	path = .vim/bundle/vimify
	url = https://github.com/muansari96/vimify
[submodule ".vim/bundle/vimify.git"]
	path = .vim/bundle/vimify.git
	url = https://github.com/muansari96/vimify
